* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #333333;
}

header {
  width: 100%;
}

header h1 {
  background-color: #FF4848;
  text-align: center;
  font-size: 3rem;
  line-height: 4rem;
  color: #C2FFD9;
}

header h2 {
  text-align: center;
  padding: 20px;
  color: #9DDAC6;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #C2FFD9;
  padding-bottom: 50px;
}

.container .calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 900px;
  background-color: #4d4d4d;
  -webkit-box-shadow: 0px 0px 10px #FF4848;
          box-shadow: 0px 0px 10px #FF4848;
}

.mes-head {
  background-color: #FF4848;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 100px;
}

.mes-head i {
  font-size: 2rem;
  cursor: pointer;
}

.mes {
  font-size: 2rem;
  padding: 30px;
  text-align: center;
}

.dias-semana {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30px;
  -ms-grid-columns: 14% 14% 14% 14% 14% 14% 14%;
      grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
  padding: 20px;
  font-weight: bold;
}

.dias-mes {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 14% 14% 14% 14% 14% 14% 14%;
      grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
  justify-items: center;
  width: 100%;
}

.dias-mes > div {
  height: 80px;
  width: 100%;
  border: 1px solid #4d4d4d;
  padding: 5px;
}

.dias-mes > div:hover {
  border: 1px solid #9DDAC6;
}

.dias-mes p {
  text-align: right;
  padding-right: 5px;
  background-color: #9DDAC6;
  color: #FF4848;
  font-weight: bold;
}

.dias-mes .prev-days p, .dias-mes .post-days p {
  opacity: 0.4;
}

.dias-mes .day-container {
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  background-color: #FF4848;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.dias-mes .day-container.fulled {
  background-color: #C2FFD9;
  color: #FF4848;
}

.modal {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-backdrop-filter: grayscale(10%) blur(10px);
          backdrop-filter: grayscale(10%) blur(10px);
  display: none;
}

@-webkit-keyframes modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modalOpen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: modal;
          animation-name: modal;
}

.cerrar {
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px #9DDAC6;
          box-shadow: 0 0 10px #9DDAC6;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 3rem;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #9DDAC6;
  color: #fff;
}

.modal-base {
  width: 500px;
  max-height: 600px;
  height: 100%;
  background: #9DDAC6;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #9DDAC6;
          box-shadow: 0 0 10px #9DDAC6;
  overflow: hidden;
}

.modal-titulo {
  color: #C2FFD9;
  background-color: #FF4848;
  width: 100%;
  text-align: center;
  padding: 12px;
}

.modal-titulo p {
  font-size: 1.5rem;
}

h4 {
  font-size: 2.5rem;
}

.modal-seleccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80%;
}

.reloj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

input[type=time] {
  padding: 10px;
  width: 230px;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: bold;
  background-color: #C2FFD9;
  margin-bottom: 50px;
}

input[type=time]:hover {
  outline: none;
}

input[type=time]:focus {
  outline: none;
}

.turnos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 200px;
  padding: 0 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.turnos .pre-turno {
  display: block;
  font-size: 1.2rem;
  padding: 10px 15px;
  margin: 5px;
  -webkit-box-shadow: 0 0 5px rgba(255, 211, 113, 0.5);
          box-shadow: 0 0 5px rgba(255, 211, 113, 0.5);
  border-radius: 5px;
  font-weight: bold;
  opacity: 0.8;
  cursor: pointer;
  background-color: #FFD371;
}

.turnos .pre-turno:hover {
  -webkit-box-shadow: 0 0 10px #FFD371;
          box-shadow: 0 0 10px #FFD371;
  opacity: 1;
}

.enviar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: none;
  font-weight: bold;
  -webkit-box-shadow: 0 0 5px #797878;
          box-shadow: 0 0 5px #797878;
}

.descanso {
  background-color: #C2FFD9;
}

.confirmar {
  background-color: #FF4848;
  color: #C2FFD9;
}
/*# sourceMappingURL=estilos.css.map */