// Generalidades
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
// Variables
$medio: 800px;
$principal: #3a73df;
$contraste: #FFD371;
$tercero: #1a3072;
$sombra: #9DDAC6;
$principalSuper: #e47b25;
$principalCon: #3a73df;
body {
    background-color: #313535;
}
header {
    width: 100%;
    h1 {
        background-color: $principal;
        text-align: center;
        font-size: 3rem;
        line-height: 4rem;
        color: #fff;
    }
    h2 {
        text-align: center;
        padding: 20px;
        color: #d3d3d3;
        @media screen and (max-width: $medio){
            padding: 10px;
            font-size: 1.3rem;
        }
    }
}
.selectRol {
    display: flex;
    margin: auto;
    width: 400px;
    justify-content: space-between;
    .rol {
        cursor: pointer;
        width: 130px;
        text-align: center;
        padding: 9px 18px;
        background-color: #d3d3d3;
        margin-bottom: 20px;
        &.active{
            background-color: $principalCon;
            font-weight: bold;
            color: #fff;
        }
    }
    @media screen and (max-width: 400px) {
        width: 100%;
        .rol {
            width: 33%;
            // padding: 0;
        }
    }

}
.container {
    display: flex;
    justify-content: center;
    color: $tercero;
    padding-bottom: 30px;
    .calendar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        width: 900px;
        background-color: #696969;
        box-shadow: 0px 0px 10px $principal;
    }
}
.mes-head {
    background-color: $principal;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    color: #fff;
    i {
        font-size: 2rem;
        cursor: pointer;
    }
    @media screen and (max-width: $medio){
        font-size: 1rem;
        padding: 0 60px;
        h3 {
            font-size: 1.5rem;
            padding: 20px;
        }
        i{
            font-size: 1.8rem;
        }
    }
}
.mes {
    font-size: 2rem;
    padding: 30px;
    text-align: center;
}
.dias-semana {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 30px;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    padding: 20px;
    font-weight: bold;
    @media screen and (max-width: $medio){
        padding: 0;
    }
}
.dias-mes {
    padding: 20px;
    display: grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    justify-items: center;
    width: 100%;
    >div {
        height: 80px;
        width: 100%;
        // border: 1px solid #d3d3d3;
        padding: 5px;
        &:hover {
            border: 1px solid $sombra;
        }
        @media screen and (max-width: $medio){
            padding: 0;
            height: 70px;
            border: none;
        }
    }
    @media screen and (max-width: $medio){
        padding: 0;
    }
    p {
        text-align: right;
        padding-right: 5px;
        background-color: #fff;
        color: $principal;
        font-weight: bold;
    }
    .prev-days, .post-days {
        p {
            opacity: 0.4;
        }
    }
    .day-container {
        width: 100%;
        height: 50px;
        margin-bottom: 5px;
        background-color: $principal;
        opacity: 0.4;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1.4rem;
        font-weight: bold;
        &.fulled {
            // background-color: rgb(247, 247, 247);
            color: #fff;
            opacity: 1;
        }
        @media screen  and (max-width: $medio) {
            margin-bottom: 0;
            font-size: 1.1rem;
        }
    }
}
.modal {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backdrop-filter: grayscale(10%) blur(10px); 
    display: none;
}
@keyframes modal  {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.modalOpen {
    display: flex;
    animation-duration: 0.5s;
    animation-name: modal;
}
.cerrar {
    cursor: pointer;
    box-shadow: 0 0 10px $sombra;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 3rem;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: $sombra;
    color: #fff;
    @media screen and (max-width: 480px){
        padding: 5px 10px;
        font-size: 2rem;
    }
}
.modal-base {
    width: 500px;
    max-height: 600px;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px $sombra;
    overflow: hidden;
}
.modal-titulo {
    color: #fff;
    background-color: $principal;
    width: 100%;
    text-align: center;
    p {
        font-size: 1.5rem;
    }
    padding: 12px;
}
h4 {
    font-size: 2.5rem;
}
.modal-seleccion {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
    height: 80%;
}
.reloj {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 20px;
}
input[type=time] {
    padding: 10px;
    width: 170px;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
    background-color: $tercero;
    // margin-bottom: 20px;
    color: #fff;
    &:hover {
        outline: none;
    }
    &:focus {
        outline: none;
    }
    &::after {
        color: #fff;
    }
}
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}
.turnos {
    display: flex;
    width: 80%;
    height: 200px;
    // padding: 0 80px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    .pre-turno {
        display: block;
        font-size: 1.2rem;
        width: 20%;
        padding: 10px 15px;
        margin: 5px;
        box-shadow: 0 0 5px rgba($color: $contraste, $alpha: 0.5);
        border-radius: 5px;
        font-weight: bold;
        opacity: 0.8;
        cursor: pointer;
        background-color: $contraste;
        &:hover {
            box-shadow: 0 0 10px $contraste;
            opacity: 1;
        }
    }
    @media screen and (max-width: 480px){
        width: 100%;
    }
}
.horas-extra {
    display: flex;
    .hora-ex {
        cursor: pointer;
        padding: 5px 25px;
        background-color: #09bdca;
        border-radius: 6px;
        opacity: 0.5;
        font-weight: bold;
        font-size: 1.2rem;
        margin: 0 10px 20px 10px;
        color: #fff;
        // margin-bottom: 20px;
        &.active {
            opacity: 1;
            box-shadow: 0 0 5px #09bdca;
        }
    }
}
.enviar {
    display: flex;
    width: 220px;
    justify-content: space-between;
}
button {
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: none;
    font-weight: bold;
    box-shadow: 0 0 5px rgb(121, 120, 120);
}
.descanso {
    background-color: $tercero;
    color: #fff;
}
.confirmar {
    background-color: $principal;
    color: #fff;
}
.options-final {
    margin: auto;
    display: flex;
    width: 400px;
}
.terminar, .reiniciar {
    text-align: center;
    background-color: $principal;
    width: 150px;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 0 15px $tercero;
    margin: auto;
    padding: 10px 20px;
    margin-bottom: 20px;

}
.reiniciar {
    background-color: #09bdca;
}
.drawNomina {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px;
    display: none;
    @media screen and (max-width: 1100px) {
        padding: 20px;
    }
}
.nominaContainer {
    width: 90%;
    padding: 40px;
    background-color: #d3d3d3;
    min-height: 100vh;
    h5 {
        text-align: center;
        font-size: 1.5rem;
    }
    .cerrarNomina {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2rem;
    }
    @media screen and (max-width: 1100px) {
        width: 100%;
    }
    @media screen and (max-width: 600px) {
        padding: 40px 0;
    }
}
.turnosContainer {
    width: 100%;
    padding: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    .container {
        width: 180px;
        height: 166px;
        display: flex;
        justify-content: flex-start;
        flex-flow: column nowrap;
        .fecha-hora {
            background-color: #8ebb37;
            color: #fff;
        }
        @media screen and (max-width: 425px) {
            font-size: 0.7rem;
            width: 100px;
            .fecha-hora {
                font-size: 0.6rem;
            }
        }
        div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 5px 5px;
        }
    }
    @media screen and (max-width: 425px) {
        padding: 20px;
    }
}
.totales {
    display: flex;
    text-align: center;
    // justify-content: center;
    flex-flow: column nowrap;
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
    margin: 30px auto;
}
.total {
    display: flex;
    justify-content: space-between;
}
.totalNomina {
    font-weight: bold;
    font-size: 1.2rem;
}
svg {
    height: 40px;
}