* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
}

header h1 {
  background-color: #8ebb37;
  text-align: center;
  font-size: 3rem;
  line-height: 4rem;
  color: #fff;
}

header h2 {
  text-align: center;
  padding: 20px;
  color: #1a3072;
}

@media screen and (max-width: 800px) {
  header h2 {
    padding: 10px;
    font-size: 1.3rem;
  }
}

.selectRol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.selectRol .rol {
  cursor: pointer;
  width: 130px;
  text-align: center;
  padding: 9px 18px;
  background-color: #d3d3d3;
  margin-bottom: 20px;
}

.selectRol .rol.rol-Oper.active {
  background-color: #8ebb37;
  font-weight: bold;
  color: #fff;
}

.selectRol .rol.rol-Super.active {
  background-color: #e47b25;
  font-weight: bold;
  color: #fff;
}

.selectRol .rol.rol-Con.active {
  background-color: #3a73df;
  font-weight: bold;
  color: #fff;
}

@media screen and (max-width: 400px) {
  .selectRol {
    width: 100%;
  }
  .selectRol .rol {
    width: 33%;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1a3072;
  padding-bottom: 50px;
}

.container .calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 900px;
  background-color: #d3d3d3;
  -webkit-box-shadow: 0px 0px 10px #8ebb37;
          box-shadow: 0px 0px 10px #8ebb37;
}

.mes-head {
  background-color: #8ebb37;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 100px;
  color: #fff;
}

.mes-head i {
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .mes-head {
    font-size: 1rem;
    padding: 0 60px;
  }
  .mes-head h3 {
    font-size: 1.5rem;
    padding: 20px;
  }
  .mes-head i {
    font-size: 1.8rem;
  }
}

.mes {
  font-size: 2rem;
  padding: 30px;
  text-align: center;
}

.dias-semana {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30px;
  -ms-grid-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
      grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
  padding: 20px;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .dias-semana {
    padding: 0;
  }
}

.dias-mes {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
      grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
  justify-items: center;
  width: 100%;
}

.dias-mes > div {
  height: 80px;
  width: 100%;
  border: 1px solid #d3d3d3;
  padding: 5px;
}

.dias-mes > div:hover {
  border: 1px solid #9DDAC6;
}

@media screen and (max-width: 800px) {
  .dias-mes > div {
    padding: 0;
    height: 70px;
    border: none;
  }
}

@media screen and (max-width: 800px) {
  .dias-mes {
    padding: 0;
  }
}

.dias-mes p {
  text-align: right;
  padding-right: 5px;
  background-color: #fff;
  color: #8ebb37;
  font-weight: bold;
}

.dias-mes .prev-days p, .dias-mes .post-days p {
  opacity: 0.4;
}

.dias-mes .day-container {
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  background-color: #8ebb37;
  opacity: 0.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.dias-mes .day-container.fulled {
  color: #fff;
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .dias-mes .day-container {
    margin-bottom: 0;
    font-size: 1.1rem;
  }
}

.modal {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-backdrop-filter: grayscale(10%) blur(10px);
          backdrop-filter: grayscale(10%) blur(10px);
  display: none;
}

@-webkit-keyframes modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modalOpen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: modal;
          animation-name: modal;
}

.cerrar {
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px #9DDAC6;
          box-shadow: 0 0 10px #9DDAC6;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 3rem;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #9DDAC6;
  color: #fff;
}

@media screen and (max-width: 480px) {
  .cerrar {
    padding: 5px 10px;
    font-size: 2rem;
  }
}

.modal-base {
  width: 500px;
  max-height: 600px;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #9DDAC6;
          box-shadow: 0 0 10px #9DDAC6;
  overflow: hidden;
}

.modal-titulo {
  color: #fff;
  background-color: #8ebb37;
  width: 100%;
  text-align: center;
  padding: 12px;
}

.modal-titulo p {
  font-size: 1.5rem;
}

h4 {
  font-size: 2.5rem;
}

.modal-seleccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80%;
}

.reloj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

input[type=time] {
  padding: 10px;
  width: 170px;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: bold;
  background-color: #1a3072;
  color: #fff;
}

input[type=time]:hover {
  outline: none;
}

input[type=time]:focus {
  outline: none;
}

input[type=time]::after {
  color: #fff;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

.turnos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 200px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.turnos .pre-turno {
  display: block;
  font-size: 1.2rem;
  width: 20%;
  padding: 10px 15px;
  margin: 5px;
  -webkit-box-shadow: 0 0 5px rgba(255, 211, 113, 0.5);
          box-shadow: 0 0 5px rgba(255, 211, 113, 0.5);
  border-radius: 5px;
  font-weight: bold;
  opacity: 0.8;
  cursor: pointer;
  background-color: #FFD371;
}

.turnos .pre-turno:hover {
  -webkit-box-shadow: 0 0 10px #FFD371;
          box-shadow: 0 0 10px #FFD371;
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .turnos {
    width: 100%;
  }
}

.horas-extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.horas-extra .hora-ex {
  cursor: pointer;
  padding: 5px 25px;
  background-color: #09bdca;
  border-radius: 6px;
  opacity: 0.5;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 10px 20px 10px;
  color: #fff;
}

.horas-extra .hora-ex.active {
  opacity: 1;
  -webkit-box-shadow: 0 0 5px #09bdca;
          box-shadow: 0 0 5px #09bdca;
}

.enviar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: none;
  font-weight: bold;
  -webkit-box-shadow: 0 0 5px #797878;
          box-shadow: 0 0 5px #797878;
}

.descanso {
  background-color: #1a3072;
  color: #fff;
}

.confirmar {
  background-color: #8ebb37;
  color: #fff;
}

.terminar {
  text-align: center;
  background-color: #1a3072;
  width: 150px;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #1a3072;
          box-shadow: 0 0 5px #1a3072;
  margin: auto;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.drawNomina {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  display: none;
}

@media screen and (max-width: 1100px) {
  .drawNomina {
    padding: 20px;
  }
}

.nominaContainer {
  width: 90%;
  padding: 40px;
  background-color: #d3d3d3;
  min-height: 100vh;
}

.nominaContainer h5 {
  text-align: center;
  font-size: 1.5rem;
}

.nominaContainer .cerrarNomina {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
}

@media screen and (max-width: 1100px) {
  .nominaContainer {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .nominaContainer {
    padding: 40px 0;
  }
}

.turnosContainer {
  width: 100%;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.turnosContainer .container {
  width: 180px;
  height: 166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.turnosContainer .container .fecha-hora {
  background-color: #8ebb37;
  color: #fff;
}

@media screen and (max-width: 425px) {
  .turnosContainer .container {
    font-size: 0.7rem;
    width: 100px;
  }
  .turnosContainer .container .fecha-hora {
    font-size: 0.6rem;
  }
}

.turnosContainer .container div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 5px;
}

@media screen and (max-width: 425px) {
  .turnosContainer {
    padding: 20px;
  }
}

.totales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background-color: #fff;
  padding: 20px;
  max-width: 400px;
  margin: 30px auto;
}

.total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.totalNomina {
  font-weight: bold;
  font-size: 1.2rem;
}

svg {
  height: 40px;
}
/*# sourceMappingURL=estilos.css.map */